<style>
    .page-content {
        padding: 0px !important;
    }

    .page-form {
        width:410px !important;
    }

    #topbarmenu{
        display:none ;
    }

</style>

<div id="signin-page" ng-controller="ctrlChangePassword">
    <div class="page-form-wrapper"></div>
    <div class="page-form">
    <form  role="form" class="form" name="changePasswordForm" id="changePasswordForm" novalidate>
             <div class="header-content">
                <h1>Change Password</h1>
            </div>
            <div class="body-content">
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="field-1" style="text-align: left">
                        Current Password
                        <span class="mandatory" style="color:red; font-size: 12pt"> * </span>
                    </label>
                    <div class="col-sm-7">
                        <input name="txtCurPassword" id="txtCurPassword" type="{{inputType}}" class="form-control" ng-model="userManagement.currentPassword" ng-required="isRequired" autocomplete="off">
                        <span ng-show="changePasswordForm.$submitted || changePasswordForm.txtCurPassword.$touched">
                            <span ng-show="changePasswordForm.txtCurPassword.$error.required" class ="error">
                                Current Password is required
                            </span>
                        </span>
                    </div>
                   
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
                    <br />
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="field-1" style="text-align: left">
                        New Password
                        <span class="mandatory" style="color:red; font-size: 12pt"> * </span>
                    </label>
                    <div class="col-sm-7">
                        <input name="txtNewPassword" id="txtNewPassword" type="{{inputType}}" class="form-control" ng-model="userManagement.newPassword" ng-required="isRequired" autocomplete="off">
                        <span ng-show="changePasswordForm.$submitted || changePasswordForm.txtNewPassword.$touched">
                        <span ng-show="changePasswordForm.txtNewPassword.$error.required" class ="error">
                                New Password is required
                        </span>
                        </span>
                    </div>
                   
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
                    <br />
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="field-1" style="text-align: left">
                        Confirm Password
                        <span class="mandatory" style="color:red; font-size: 12pt"> * </span>
                    </label>
                    <div class="col-sm-7">
                        <input name="txtConfirmPassword" id="txtConfirmPassword" type="{{inputType}}" class="form-control" ng-model="userManagement.confirmPassword" ng-required="isRequired" autocomplete="off">
                        <span ng-show="changePasswordForm.$submitted || changePasswordForm.txtConfirmPassword.$touched">
                            <span ng-show="changePasswordForm.txtConfirmPassword.$error.required" class ="error">
                                Confirm Password is required
                            </span>
                        </span>
                    </div>
                  
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
                    <br />
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7">
                        <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                        <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
                        <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                    </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
                    <br />
                </div>
                <div class="form-group" style="text-align:right">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-primary btn-success" value="Submit" type="Submit" ng-click="changePasswordForm.$valid && save()">Save</button>
                    </div>             
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>
